body {
    background-color: #fff5f6;
    margin-bottom: 100px;
    padding: 0%;
    overflow-x: hidden;
}

.card {
    background: none;
    border: none;
    padding: 50px;
}

.coder {
    max-width: 25%;
    position: absolute;
    left: 1em;
    top: 5rem;
    z-index: 2;
}

.button, .submit-btn {
    background-color: #b87b88;
    color: white;
}

footer a, i {
    color: white;
    margin-right: 1.5rem;
    padding-top: 10px;
}


footer {
    background: #4c86a8;
    width: 100%;
    height: 75px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

@media (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
}

.form-group {
    margin-left: 1.5rem;
    padding-bottom: 10px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.contact {
    color: #24285b;
    padding-bottom: 20px;
}